<div class="centered-container">
  <app-header></app-header>
  <div class="table-scroll-wrapper">
    <table id="posts">
      <tr>
        <th>Username</th>
        <th>Body</th>
        <th>Detail</th>
      </tr>

      @for (post of posts; track post.id) {
      <tr>
        <td>{{post.username}}</td>
        <td>{{post.body}}</td>
        <td><button class="button-1" (click)="openModal(post)">Details</button></td>
      </tr>
      }

    </table>
  </div>
</div>

@if (selectedPost) {
<div class="modal-backdrop" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ selectedPost.title }}</h2>
    <p>{{ selectedPost.body }}</p>
    <button class="button-1" (click)="closeModal()">Close</button>
  </div>
</div>
}
