.card{
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.card-container{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    height: 600px;
    overflow-y: scroll;
}